// fonts
$headerFont: 'Merriweather Sans', sans-serif;
$paragraphFont: 'Merriweather', serif;

// colors
$primaryBackground:#343434;
$secondaryBackground:#383838;
$textColor: #ffffff; 
$CTAColor: #f36c4f;

// animation timing function
$animationTiming:cubic-bezier(0, 0, 0.77, 0.78);
$animationDuration:1s;

// border
$borderWidth: 3px;
$borderRadius:4px;
// padding
$mainPadding:4vh 10%;
// opacity
$mainOpacity:0.9;