.lg-navbar__items {
    .navbar-btn {
        background-color: $CTAColor;
        border: solid $CTAColor $borderWidth;
        border-radius: $borderRadius;
        color: $textColor;
        font-family: $headerFont;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1rem;
        transition-property: all;
        transition-duration: $animationDuration;
        transition-timing-function: $animationTiming;
    }
    .navbar-btn:hover{
        background-color:transparent;
        color: $textColor;
    }
}
.sm-navbar__items{
    .navbar-btn {
        Background-color: $CTAColor;
        border: solid $CTAColor $borderWidth;
        border-radius: $borderRadius;
        color: $textColor;
        font-family: $headerFont;
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 1rem;
        height:4rem;
        padding: 1rem;
        transition-property: all;
        transition-duration: $animationDuration;
        transition-timing-function: $animationTiming;
        width:15rem;
    }
    .navbar-btn:hover{
        background-color:transparent;
        color: $textColor;
    }
}