.navigation-bar {
  position: sticky;
  top: 0;
  width: 100;
  z-index: 2;

  .navbar {
    background-color: #343434b7;
    height: 16vh;
    width: 100%;

    // navbar for large devices
    .lg-navbar__items {
      animation-name: lgNavAnim;
      @include animation;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding:4vh 4vw ;
      justify-content: space-between;
      position: relative;
      width: 100%;

      .navbar-brand {
        display: inline-block;
      }

      .navbar-links {
        color: $textColor;
        display: inline-block;
        font-family: $headerFont;
        font-size: 1.6rem;

        li {
          list-style: none;
          display: inline-block;
          margin-left: 2rem;

          a {
            color: $textColor;
            text-decoration: none;
            transition-property: all;
            @include animation;
          }

          a:hover {
            color: $CTAColor;
          }
        }
      }
    }

    // Don't show on small screens
    @media only screen and (max-width:730px) {
      .lg-navbar__items {
        .navbar-links {
          display: none;
        }

        .navbar-btn {
          display: none;
        }

      }

    }

    // small screens
    @media only screen and (min-width:729px) {
      .lg-navbar__items {
        .hambuger {
          display: none;
        }
      }
    }



  }

  .sm-navbar__items {
    animation-name: smNavAnim;
    @include animation;
    @include select;
    align-items: center;
    background-color: $primaryBackground;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    top: 0;
    bottom: 0;
    text-align: left;
    position: absolute;
    width: 100vw;
    z-index: 5;

    .navbar-links {
      li {

        list-style: none;
        margin-top: 1rem;

        a {
          color: $textColor;
          font-size: 2rem;
          font-family: $headerFont;
          font-weight: bold;
          text-decoration: none;
          transition-property: all;
          @include animation;
        }

        a:hover {
          color: $CTAColor;
          border-bottom: $borderWidth solid $CTAColor;
          border-radius: $borderRadius;
        }
      }
    }

  }

  @media only screen and (min-width:729px) {
    .sm-navbar__items {
      display: none !important;
    }
  }
}